
#form {
    position: relative;
    height: 600px;
    width: 400px;
    /*margin: top, right, bottom and left*/
    margin: 2% 0 0 -10%;    
    top: 50%;
    left: 50%;    
    background-color: white;
}
#login {
    width: 200px;
    height: 200px;
    position:absolute;
    top: 5%;
    left: 25%;    
}
#form, input {
    border-radius: 2px;
    border: 0.5px solid #e8e8e8;
}
#log {
    text-align: center;
}
body, input {
    background-color:#f5f5f5;
}
input {         
    padding: 10px;
    padding-right: 10%;
    height: 15px;
}
#login, button {
    font-family: 'Roboto', sans-serif;
}
button {
    border-radius: 4px;
    border-style: solid;
    border-color: white;
    color: white;
    width: 205px;
    height: 37px;
    text-align: center;
    background-color: #069BFC;    
    font-size: 90%;
}

p {        
    text-align: center;
}

a {
    text-decoration: none;
    color: #069BFC;
    font-size: 90%;
}

@media (max-width:1000px) {
    #form {
        margin-left: -200px;        
    }
} 

@media (min-width:1000px) and (max-width:1500px) {
    #form {
        margin-left: -190px;
    }    
}

@media (max-width:500px) {
    #form {
        margin-top: -10px;
        border-color: white;
    }
    body {
        background-color: white;
    }
}


